.mytable{
    background: #F0F8FF;
}
.mybutton{
    display:block;
    width: 100%;
    height: 100%;
    font-size: x-large;
}
.mytextbox{
    display:block;
    width: 100%;
    height: 100%;
    text-align: left;
    column-span:all;
    text-align: right;
    font-size: x-large;
}
.mybuttonequal{
    width: 100%;
    height: calc(96px * 2);
    font-size: x-large;
}

td{
    width: 128px;
    height: 96px;
    padding: 2px;
}
