@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    ViewBag.Title = "Author";
}

@using (Html.BeginForm())
{@Html.ValidationSummary()

    <center>
        <div>
            author: Jakub Guzek
        </div>
    </center>

}